* {
  margin: 0;
  padding: 0;
  font-family: "poppins", sans-serif;
  box-sizing: border-box;
}

body {
  background-color: #fff;
}
.main-container {
  width: 100%;
  margin: 0 auto;
  max-width: 100%;
  clear: both;
}

.question-content {
  margin: 0 auto 0.75em 0;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  font-family: inherit;
  color: #555;
}
#page {
  padding-top: 45px;
  min-height: 100px;
  float: none;
  clear: both;
}

/* can giua page */
#page,
.container {
  max-width: 1050px;
  min-width: 240px;
  overflow: visible;
  margin: 0 auto;
  position: relative;
}

.post-date-publishable {
  font-weight: 400;
  text-transform: uppercase;
  margin: 0;
  color: #a2a2a2;
  font-size: 13px;
}

h1.title {
  line-height: 150%;
  font-size: 30px;
}
.single-title {
  padding: 0;
  font-size: 32px;
  line-height: 1.4;
  margin: 0;
  clear: both;
  margin-bottom: 16px;
}

.watu-question {
  margin-top: 20px;
  padding: 0 0 1em;
}

/* input tron */
.div.watupro-choices-columns {
  clear: both;
  float: left;
  width: 100%;
}
.watupro-question-choice {
  margin: 0.438em 0 !important;
}
.watupro-question-choice {
  width: 100%;
  display: block;
  line-height: normal;
}
.watupro-question-choice:before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  height: 100%;
}
#watupro_quiz input {
  width: auto !important;
}
.watupro-question-choice input[type="radio"],
.watupro-question-choice input[type="checkbox"] {
  margin-left: 0.25em;
}
.watupro-question-choice input[type="radio"] {
  border: none;
  -moz-appearance: radio;
  -webkit-appearance: radio;
}
.watupro-question-choice input[type="radio"],
.watupro-question-choice input[type="checkbox"] {
  margin-right: 0.667em;
  vertical-align: -0.15em;
}
.watupro-question-choice > *,
.watupro-question-choice1:not(input):not(label) {
  display: inline-block;
  margin: 0;
  padding: 0;
}
/* end input tron */

/* input vuong */
.watupro-question-choice {
  margin: 0.438em 0 !important;
}
.watupro-question-choice {
  width: 100%;
  display: block;
  line-height: normal;
  margin: 0.438em 0;
}
#watupro_quiz input {
  width: auto !important;
}
.watupro-question-choice input[type="radio"],
.watupro-question-choice input[type="checkbox"] {
  margin-left: 0.25em;
}
.watupro-question-choice input[type="radio"],
.watupro-question-choice input[type="checkbox"] {
  margin-right: 0.667em;
  vertical-align: -0.15em;
}
.watupro-question-choice > *,
.watupro-question-choice1:not(input):not(label) {
  display: inline-block;
  margin: 0;
  padding: 0;
}
#watupro_quiz *,
#watupro_quiz *::before,
#watupro_quiz *::after,
.watupro-paginator-wrap * {
  box-sizing: border-box;
}
.quiz-form label {
  display: inline-block;
  max-width: calc(100% - 2.25em);
}
.quiz-form label {
  cursor: pointer;
  width: auto;
  vertical-align: text-top;
}
.watupro-question-choice > *,
.watupro-question-choice1:not(input):not(label) {
  display: inline-block;
  margin: 0;
  padding: 0;
}
.watupro-question-choice span {
  display: inline !important;
}
/* end input vuong */
p {
  padding: 0 0 1rem;
}

/* button */
#watupro_quiz input {
  width: auto !important;
}
#action-button {
  cursor: pointer;
}
#watupro_quiz *,
#watupro_quiz *::before,
#watupro_quiz *::after,
.watupro-paginator-wrap * {
  box-sizing: border-box;
}
#action-button {
  color: #fff;
  padding: 10px 20px;
  transition: all 0.25s linear;
  font-family: roboto, helvetica neue, helvetica, arial, sans-serif;
  font-size: 20px;
  border-radius: 3px;
  background-color: #436eee;
}
.sfwppa-navi-style * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
input,
textarea,
select {
  padding: 8px 12px;
  font-size: 12px;
  color: #5e656d;
}
.watupro_buttons.flex {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  clear: both;
}
button,
input,
select,
textarea {
  margin: 0;
}
/* end button */
.watupro-question-choice.correct {
  background-color: lightgreen;
}

.watupro-question-choice.incorrect {
  background-color: lightcoral;
}
.question-list {
  position: fixed; /* Cho phần danh sách giữ nguyên vị trí khi cuộn trang */
  top: 0; /* Đặt vị trí ở trên cùng */
  left: 0; /* Đặt vị trí ở bên trái */
  width: 200px; /* Độ rộng của phần danh sách */
  height: 100%; /* Chiều cao sẽ chiếm toàn bộ chiều cao của trang */
  background-color: #f4f4f4; /* Màu nền */
  padding: 20px; /* Khoảng cách đệm bên trong phần danh sách */
  overflow-y: auto; /* Cho phép cuộn nếu nội dung quá dài */
  border-right: 1px solid #ddd; /* Đường viền bên phải */
}
